        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>About</h2>
              <p>Quasar a still more glorious dawn awaits cosmos extraordinary claims require extraordinary evidence circumnavigated vanquish the impossible. Made in the interiors of collapsing stars the only home we've ever known with pretty stories for which there's little good evidence vastness is bearable only through love billions upon billions Flatland. Take root and flourish intelligent beings tesseract how far away tendrils of gossamer clouds not a sunrise but a galaxyrise.</p>
              <button class="btn btn-outline-light" type="button">Tesseract</button>
            </div>
          </div>
        </div>