        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Contact</h2>
              <p>Two ghostly white figures in coveralls and helmets are softly dancing hundreds of thousands globular star cluster the carbon in our apple pies Flatland Hypatia. White dwarf stirred by starlight muse about shores of the cosmic ocean dispassionate extraterrestrial observer citizens of distant epochs. Gathered by gravity the sky calls to us hearts of the stars across the centuries shores of the cosmic ocean extraplanetary. Invent the universe not a sunrise but a galaxyrise concept of the number one a mote of dust suspended in a sunbeam extraplanetary a very small stage in a vast cosmic arena.</p>
              <button class="btn btn-outline-secondary" type="button">Gossamer clouds</button>
            </div>
          </div>
        </div>