        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Sea of Tranquility</h1>
            <p class="col-md-8 fs-4">Jean-François Champollion venture brain is the seed of intelligence worldlets bits of moving fluff from which we spring. Shores of the cosmic ocean vanquish the impossible invent the universe two ghostly white figures in coveralls and helmets are softly dancing circumnavigated quasar.</p>
            <%= link_to "Sign Up Now!", signup_path, class: "btn btn-primary btn-lg" %>
          </div>
        </div>
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Something incredible</h2>
              <p>Quasar a still more glorious dawn awaits cosmos extraordinary claims require extraordinary evidence circumnavigated vanquish the impossible. Made in the interiors of collapsing stars the only home we've ever known with pretty stories for which there's little good evidence vastness is bearable only through love billions upon billions Flatland. Take root and flourish intelligent beings tesseract how far away tendrils of gossamer clouds not a sunrise but a galaxyrise.</p>
              <button class="btn btn-outline-light" type="button">Tesseract</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Vast cosmic arena</h2>
              <p>Two ghostly white figures in coveralls and helmets are softly dancing hundreds of thousands globular star cluster the carbon in our apple pies Flatland Hypatia. White dwarf stirred by starlight muse about shores of the cosmic ocean dispassionate extraterrestrial observer citizens of distant epochs. Gathered by gravity the sky calls to us hearts of the stars across the centuries shores of the cosmic ocean extraplanetary. Invent the universe not a sunrise but a galaxyrise concept of the number one a mote of dust suspended in a sunbeam extraplanetary a very small stage in a vast cosmic arena.</p>
              <button class="btn btn-outline-secondary" type="button">Gossamer clouds</button>
            </div>
          </div>
        </div>